{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <main class="subpage">
    <div class="container">
      <div class="form-box register-section">
        <form method="post" action="">
          {% csrf_token %}

          {{ form.as_p }}

          {% if form %}
            {% if form.errors %}
              {% for error in form.non_field_errors %}
                <div class="popup">
                  <a href="/"><i class="fa fa-close"></i></a>
                  <div class="popup-content">
                    <p>{{ error|escape }}</p>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% endif %}
          <input type="submit" value="{% trans 'Submit' %}"/>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
