{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <main class="subpage">
    <div class="container">
      <div class="form-box register-section">
        {% if validlink %}
          <form method="post" action="">
            {% csrf_token %}

            <fieldset>
              <label>
                <input id="id_new_password1" name="new_password1" type="password" placeholder="New password" required>
                <span class="fa fa-key" aria-hidden="true"></span> 
              </label>
            </fieldset>
              
            <fieldset>
              <label>
                <input id="id_new_password2" name="new_password2" type="password" placeholder="New password confirmation" required>
                <span class="fa fa-key" aria-hidden="true"></span> 
              </label>
            </fieldset>

            <fieldset>
              <button class="button-yellow" type="submit">{% trans "Submit" %}</button>
            </fieldset>
          </form>
        {% else %}
          <p class="register-info">{% trans "Password reset failed" %}</p>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
