{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <main class="subpage">
    <div class="container">
      <div class="form-box register-section">
			  <form method="post" action="">
			    {% csrf_token %}
			    <fieldset>
			    	<label>
							<input id="id_email" maxlength="254" name="email" type="email" placeholder="Email" required>
			    		<span class="fa fa-envelope" aria-hidden="true"></span> 
			    	</label>
			    </fieldset>

         	{% for email_error in form.email.errors %}
             <fieldset class="info">
              <label>                
                <p class="label label-danger">{{ email_error|escape }}</p>
                <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
              </label>
            </fieldset>
          {% endfor %}
          <fieldset>
            <button class="button-yellow" type="submit">{% trans "Submit" %}</button>
          </fieldset>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
