<div class="game-box">
  <div class="banner-top">
    <img src="/static/assets/img/slider/large/pic02.jpg">
  </div>
  <div class="banner-bottom">
    <img src="/static/assets/img/slider/large/pic02.jpg">
  </div>

  <div class="game-time">
    <span class="game-date">today</span>
    <span class="game-hour">11:30 PM</span>
  </div>

  <div class="game-teams">
    <div class="first-team">
      <img class="team-logo" src="/media/admin/ekstraklasa/wisla_krakow.png">
      <span>Wisła Kraków</span>
    </div>
    <div class="second-team">
      <img class="team-logo" src="/media/admin/ekstraklasa/cracovia_krakow.svg">
      <span>Cracovia</span>
    </div>
  </div>

  <div class="current-round">
    <form>
      <div class="current-round-score">
        <div class="current-round-score-up">
          <div class="score-up"><i class="fa fa-plus"></i></div>
        </div>
        <input type="text" pattern="[0-9]{1,2}" name="" required>
        <div class="current-round-score-down">
          <div class="score-down"><i class="fa fa-minus"></i></div>
        </div>
      </div>
      <span class="semicolon">:</span>
      <div class="current-round-score">
        <div class="current-round-score-up">
          <div class="score-up"><i class="fa fa-plus"></i></div>
        </div>
        <input type="text" pattern="[0-9]{1,2}" name="" required>
        <div class="current-round-score-down">
          <div class="score-down"><i class="fa fa-minus"></i></div>
        </div>
      </div>
      <button class="button-yellow"><i class="fa fa-play"></i></button>
    </form>
  </div>

  <div class="game-box-footer">
    <div class="game-data">
      <div class="prize">
        <i class="fa fa-trophy"></i>
        <a class="link-yellow" href="">Prize details</a>
      </div>
      <div class="gamers">
        <i class="fa fa-users"></i>
        <span>123</span>
      </div>
    </div>
    <div class="organizer">
      <span class="organizer-name">Organizer name</span>
    </div>
  </div>
</div>
