{% load i18n %}
<footer>
  <div class="footer-nav">
    <div class="footer-nav-block">
      <h3>{% trans "Offer" %}</h3>
      <ul>
        <li><a href="#">...</a></li>
      </ul>
    </div>

    <div class="footer-nav-block">
      <h3>{% trans "Sport" %}</h3>
      <ul>
        <li><a href="#">...</a></li>

      </ul>
    </div>

    <div class="footer-nav-block">
      <h3>{% trans "Company" %}</h3>
      <ul>
        <li><a href="#">...</a></li>
      </ul>
    </div>

    <div class="footer-nav-block">
      <h3>{% trans "Help" %}</h3>
      <ul>
        <li><a href="#">Help & FAQ</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </div>

    <div class="footer-nav-block">
      <h3>{% trans "Contact" %}</h3>
      <ul>
        <li><a href="#">...</a></li>
      </ul>
    </div>
  </div>
  <p>{% trans "All rights reserved &copy; 2017" %}</p>
</footer>
