
{% load static %}
<div id="item-1" class="control-operator"></div>
<div id="item-2" class="control-operator"></div>
<div id="item-3" class="control-operator"></div>
<div id="item-4" class="control-operator"></div>
<div id="item-5" class="control-operator"></div>

<figure class="item">
  <h1>Title 1</h1>
  <img src="{% static "assets/img/slider/large/pic01.jpg" %}" alt="image01"/>
</figure>

<figure class="item">
  <h1>Title 2</h1>
  <img src="{% static "assets/img/slider/large/pic02.jpg" %}" alt="image02"/>
</figure>

<figure class="item">
  <h1>Title 3</h1>
  <img src="{% static "assets/img/slider/large/pic03.jpg" %}" alt="image03"/>
</figure>

<figure class="item">
  <h1>Title 4</h1>
  <img src="{% static "assets/img/slider/large/pic04.jpg" %}" alt="image04"/>
</figure>

<figure class="item">
  <h1>Title 5</h1>
  <img src="{% static "assets/img/slider/large/pic05.jpg" %}" alt="image05"/>
</figure>

<div class="controls">
  <a href="#item-1" class="control-button"><i class="fa fa-futbol-o"></i></a>
  <a href="#item-2" class="control-button"><i class="fa fa-futbol-o"></i></a>
  <a href="#item-3" class="control-button"><i class="fa fa-futbol-o"></i></a>
  <a href="#item-4" class="control-button"><i class="fa fa-futbol-o"></i></a>
  <a href="#item-5" class="control-button"><i class="fa fa-futbol-o"></i></a>
</div>
